@charset "utf-8";

body{
margin: 0;
font-family: 'Poppins', sans-serif;
background: -webkit-linear-gradient( left, #FFFFFF, #DAF0F6); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient( left, #FFFFFF, #DAF0F6); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient( left, #FFFFFF, #DAF0F6); /* For Firefox 3.6 to 15 */
background: linear-gradient(left, #9DDBF2, #DAF0F6); /* Standard syntax (must be last) */
}

*{
    text-decoration: none;
}

.middle_container{
margin: 0;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
}

.div_centro{
position: absolute;
font-size: 1.6vw;
color: white;
object-fit: cover;
width: 33.3vw;
height: 33.3vw;
overflow: hidden;
display:flex;
align-items: center;
justify-content: center;
border-radius: 5%;
/*
margin: 33.3vw;
margin-top: 10vh;
*/
}


.fig_centro{
margin: 0;
}

.img_centro{
height: 100%;
}

.txt_centro{
z-index: 5;

}
.txt_centro p{
margin:0;
border-radius: 5%;
padding: 5%;
}

.txt_centro div{
max-height: 80%;
margin: 10%;
overflow: hidden;
border-radius: 5%;
display: flex;
justify-content: center;
}

.background div{
overflow-y: scroll;
background-color:rgba(0, 0, 0, 0.5);
}

.background{
background-color:#45699099;
}

header{
background-color: #456990;
z-index: 10;
width: 100%;
display:flex;
align-items: center;
position: fixed;
justify-content: space-between;
}

#menu{
float: right;
width: 30vw;
padding-right: 0;
padding-left: 0;
margin-right: 20vw;
}

#menu a{
float: right;
color: white;
border: solid 0.1vw white;
background-color: rgba(223, 255, 251, 0.1);
border-radius: 5vw;
margin-left: 2.5vw;
width: fit-content;
padding: 0 1vw;
height: 2vw;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2vw;
border-radius: 1.5vw;
transition: .2s ease-in-out;
}

#menu a:first-child{
margin-right: 2.5%;
}

#menu a:hover{
float: right;
color: white;
border: solid 0.1vw white;
background-color: rgba(223, 255, 251, 0.5);
transition: .2s ease-in-out;
}

#logo{
font-size: 2vw;
color: white;
font-weight: bolder;
transition: .2s ease-in-out;
margin-left: 5vw;
text-transform: uppercase;
margin: 1.5vw;
margin-left: 20vw;
}

#logo h1:hover{
transition: .2s ease-in-out;
text-shadow: 0 0 0.5em #9DDBF2, 0 0 0.2em #9DDBF2;
}

.background div::-webkit-scrollbar {
    width: 1vw;               /* width of the entire scrollbar */
}

.background div::-webkit-scrollbar-track {
    background: #45699000;        /* color of the tracking area */
    border-radius: 1vw;
    margin: 0.5vw 0;
}

.background div::-webkit-scrollbar-thumb {
    background-color: #ffffffaa;    /* color of the scroll thumb */
    border-radius: 1vw;       /* roundness of the scroll thumb */
    box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

.background div::-webkit-scrollbar-thumb:hover {
    background-color: #ffffffcc;    /* color of the scroll thumb */
    border-radius: 1vw;       /* roundness of the scroll thumb */
    border: 0.2vw solid #7a9fc9;  /* creates padding around scroll thumb */
    background-clip: padding-box;
    cursor: progress;
}

.background div::after{
    height: calc(100% - 20px);
}