@charset "utf-8";

body{
margin: 0;
font-family: 'Poppins', sans-serif;
background: -webkit-linear-gradient( left, #FFFFFF, #DAF0F6); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient( left, #FFFFFF, #DAF0F6); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient( left, #FFFFFF, #DAF0F6); /* For Firefox 3.6 to 15 */
background: linear-gradient(left, #9DDBF2, #DAF0F6); /* Standard syntax (must be last) */
}
