@charset "utf-8";

body{
font-family: 'Exo', sans-serif;
font-weight:normal;
font-style:normal;
background-color: #9DDBF2;
background: red; /* For browsers that do not support gradients */
background: -webkit-linear-gradient( left, #FFFFFF, #DAF0F6); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient( left, #FFFFFF, #DAF0F6); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient( left, #FFFFFF, #DAF0F6); /* For Firefox 3.6 to 15 */
background: linear-gradient(left, #9DDBF2, #DAF0F6); /* Standard syntax (must be last) */

}


h1, h2 {text-decoration: none;}

/* Animate putin - show how crazy he is */
#putin_rotate{
    float:right;
    animation-name:putin_rotate;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    }
    @keyframes putin_rotate {
    0%{}
    50%{transform:rotate(70deg) scale(10); }
    100%{transform:rotate(360deg) scale(1); }
    }

#graphic_design{

font-family: 'Short Stack', cursive;
display: table;
margin: 0 auto;
font-weight: 400;
font-size: 5em;
background: linear-gradient(330deg, #3f2 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
line-height: 200px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #03f; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 41, 202); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .info {
    font-family: monospace;
    position: absolute;
    line-height: 20px;
    font-size: 14px;
    left: 20px;
    top: 20px;
  }

.menu{
  display: block;
}


/* Home Study */
#homework_paragraph{
  background-color:ffffff;
  padding: 1%;
}

#homework_paragraph_2{
  color:darkblue;
  border:10px solid  hsla(103, 100%, 86%, 0.5);
  margin-top:5%;
}

#homework_paragraph_2 blockquote{

}
#homework_paragraph del{
  border:2px solid #81caf5;
}