*{
    text-decoration: none;
}

body{
margin: 5% 10%;
font-family: 'Poppins', sans-serif;
min-height: 100vw;
}

h1, h2, p{
display:block;
}

h1{
    text-transform: capitalize;
    vertical-align: top;
}

p.idrotate{
    position: absolute;
    z-index: 1;
}

.idrotate:nth-child(2){
    font-size: 1em;
}
.idrotate:nth-child(2){
    font-size: 2em;
}
.idrotate:nth-child(3){
    font-size: 3em;
}
.idrotate:nth-child(4){
    font-size: 4em;
}
.idrotate:nth-child(5){
    font-size: 5em;
}

#idsarecool{
    color:rgb(11, 10, 24);
    font-size: 5vw;
    min-height: 5vw;
    max-height: 10vw;
}

.idrotate{
    
    animation-name:idrotate;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: 0% 100%;
    }
@keyframes idrotate {
    0%{}
    50%{transform:rotate(30deg) scale(1.5); }
    100%{transform:rotate(0deg) scale(1); }
    }


a:link{
 color: cornflowerblue;
}

a:visited{
color: rgb(255, 185, 80);
}

#menu1>li{
float: left;
margin-left:10%
}
.clear{
    clear: both;
}
nav a:visited{
    color:grey;
}

nav+.container {
    background-color: steelblue;
    border-radius: 5vw;
    padding-left:3vw ;
}

nav~a {
    background-color: steelblue;
}

#top{
    position: absolute;
    bottom:3vw;
    font-weight: 900;
    border-radius: 1em;
    padding: 1em;
    right:3vw;
    position: fixed;

}

[id]{
    color: rgb(55, 43, 223);
    border-radius: 1em;
}

[class*="4"]{
    font-size: smaller;
}

ol[id^="me"]
{
    background-color: skyblue;
    height: 10vw;
    font-size: 1.5vw;
    padding: 3vw, 0;
}
#menu2 li{
    margin-left:10%;
}

footer{
    max-height: 12vw;
    max-width: 50vw;
    overflow:scroll;
    margin-top: 50vw;
}


footer::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
footer::-webkit-scrollbar-track {
    background: orange;        /* color of the tracking area */
}
footer::-webkit-scrollbar-thumb {
    background-color: blue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid orange;  /* creates padding around scroll thumb */
}
footer::-webkit-scrollbar-thumb:hover {
    background-color: blue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid orange;  /* creates padding around scroll thumb */
}