.library {
  width: 20rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  height: 100%;
  overflow-y: scroll;
  box-shadow: 2px 2px 50px rgb(212, 212, 212);
  transform: translateX(-100%);
  transition: transform 0.2s ease, opacity 0.2s ease-in;
  h2 {
    padding: 2rem;
  }
  &.open {
    transform: translateX(0);
    opacity: 1;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
  img {
    width: 30%;
    box-shadow: rgb(68, 87, 109) 0.1em 0.1em 0.5em;
  }

  &:last-child {
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
  }
  &:hover {
    background-color: rgb(238, 242, 253);
    transition: 0s ease;
  }
  &.selected {
    background-color: rgb(192, 195, 204);
    // animation-name: selectedAnimationFrames;
    // animation-delay: 1s;
    // animation-duration: 2s;
    // animation-timing-function: cubic-bezier(0.47, 0, 0.75, 0.72);
    // animation-iteration-count: infinite;
    // animation-direction: alternate;
    // animation-fill-mode: forwards;
    // animation-play-state: running;
    animation: selectedAnimationFrames 2s cubic-bezier(0.47, 0, 0.75, 0.72) 1s
      infinite alternate forwards running;
  }
}

.song-description {
  padding: 1rem;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 1rem;
  border: transparent;
}

@keyframes selectedAnimationFrames {
  0% {
    background-color: rgba(179, 187, 207, 0.8);
  }
  to {
    background-color: rgba(179, 187, 207, 0);
  }
}
