nav{
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button{
        background-color: transparent;
        border-radius: 4pt;
        cursor: pointer;
        border:2px solid rgb(65, 65, 65);
        padding: 0.5rem;
        transition:all 0.5 ease;
        &:hover{
            background-color: rgb(65, 65, 65);
            color:white;
        }
        &:focus{
            outline:none;
        }
    }
}