.player {
  min-height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.time-control {
  width: 50%;
  display: flex;
  align-items: center;
  input {
    width: 100%;
    padding: 0;
    cursor: pointer;
  }
  p {
    padding: 1rem;
  }
}
.play-control {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    cursor: pointer;
  }
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border-radius: 1rem;
}

.track {
  background-color: white;
  width: 100%;
  height: 1rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.animate-track {
  background-color: rgb(204, 204, 204);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  pointer-events: none;
}

.animate-track-thumb {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  transform: translateX(-50%);
  box-shadow: 2px 2px 50px #cccccc;
  border-radius: 20px;
}
