.song{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img{
        width: 25%;
        border-radius: 10pt;
    }
    h2{
        padding: 3rem 1rem 1rem 1rem;
    }
    h3{
        font-size: 1rem;
    }
}