*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'lato', sans-serif;
    min-height: 100vh;
}

h1, h2, h3{
color:rgb(7, 6, 6)
}

h3, h4{
font-weight: 400;
color:rgb(64, 96, 105)
}


@import "./player";
@import "./song";
@import "./library";
@import "./nav";