* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: rgb(219, 255, 251);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#square {
  width: 200pt;
  height: 200pt;
  background-color: rgb(147, 228, 255);
}

#switch {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5pt;
  margin-top: 1rem;
  background-color: rgb(228, 252, 255);
  font-size: large;
  color: rgb(86, 86, 145);
  margin-top: 1rem;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 0 0.8em rgb(120, 120, 241);
}
