@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #eefaff, #037797);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
}

header,
form {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background-color: white;
}
form input {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
form button {
  color: rgb(117, 128, 129);
  background-color: white;
  cursor: pointer;
}

.todo-btn {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  padding-left: 1vw;
  color: black;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}
li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background-color: #ff734d;
  border: none;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 1.5vw;
  margin: 0.3rem;
}

.complete-btn {
  background-color: white;
}

.fa-check,
fa-trash {
  color: black;
  pointer-events: none;
}

.complete {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearence: none;
  -moz-appearence: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #1c4464;
  width: 10rem;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.8rem 1.2rem;
  border-radius: 2rem;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: rgba(255, 255, 255, 0);
  color: #037797;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  border-radius: 2rem;
}

.select:hover::after {
  background-color: white;
  color: #09cebd;
  background: rgba(255, 255, 255, 0);
}
