@charset "utf-8";

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: -webkit-linear-gradient( left, #FFFFFF, #efefff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( left, #FFFFFF, #efefff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( left, #FFFFFF, #efefff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #FFFFFF, #efefff); /* Standard syntax (must be last) */
    cursor: url(../imgs/cursor2.jpg) 64 64, auto;
}

*{
    text-decoration: none;
}

header{
    background-color: #b48c50;
    z-index: 100;
    width: 100%;
    display:flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
}

#menu{
    float: right;
    width: 40vw;
    padding-right: 0;
    padding-left: 0;
    margin-right: 20vw;
}

#menu a{
    float: right;
    color: white;
    border: solid 0.1vw white;
    background-color: rgba(223, 255, 251, 0.1);
    border-radius: 5vw;
    margin-left: 2.5vw;
    width: fit-content;
    padding: 0 1vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    border-radius: 1.5vw;
    transition: .2s ease-in-out;
}

#menu a:first-child{
    margin-right: 2.5%;
}

#menu a:hover{
    float: right;
    color: white;
    border: solid 0.1vw white;
    background-color: rgba(255, 248, 223, 0.5);
    transition: .2s ease-in-out;
}

#logo{
    font-size: 2vw;
    color: white;
    font-weight: bolder;
    transition: .2s ease-in-out;
    margin-left: 5vw;
    text-transform: uppercase;
    margin: 1.5vw;
    margin-left: 20vw;
}

#logo h1:hover{
    transition: .2s ease-in-out;
    text-shadow: 0 0 0.5em #9DDBF2, 0 0 0.2em #9DDBF2;
}

#btn{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#btn h2{
    font-size: 5vw;
    margin: 0;
    margin-top: 2.5vw;
    padding: 5vw;
    border-radius: 10vw;
    background-color: rgb(255, 200, 168);
    border: 0.3vw solid white;;
    transition: 0.2s;
    z-index: 50;
}

#btn h2:hover{
    background-color: rgb(255, 184, 143);
    box-shadow: 0 0.4vw 1vw  rgb(255, 0, 0);
    transition: 0.2s;
    cursor: pointer;
}

#btn h1{
    margin: 0;
}

/* Página pop up */

.new_window{
    position: absolute;
    display: block;
    z-index: 100;
    width: 50vw;
    height: 60vh;
    background-color: white;
    top: 10%;
    left: 2%;
    border-radius: 0.2vw;
}

.new_window iframe{
    width: 100%;
    height: 100%;
    border-radius: 0.2vw;
    border-bottom-right-radius: 0.2vw;
    border-top-right-radius: 0.2vw;
}

.popup_header{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #0164f9;
    border-bottom-right-radius: 0.2vw;
    border-top-right-radius: 0.2vw;
    border-top-left-radius: 0.2vw;
}

.popup_min{
    cursor: pointer;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

.popup_res{
    cursor: pointer;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

.popup_x{
    cursor: pointer;
    border: 1px solid white;
    border-bottom-right-radius: 0.2vw;
    border-top-right-radius: 0.2vw;
}

/* Imagens do fim do mundo - click no botão */

#imgs{
    position: absolute;
    z-index: 10;
    top:0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.world_ends{
    position: absolute;
    display: none;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#trump_stalker_img{
    position:absolute;
    user-select: none;
    width: 15vw;
}