@charset "utf-8";

body{
margin: 0;
font-family: 'Poppins', sans-serif;
background: -webkit-linear-gradient( left, #FFFFFF, #DAF0F6); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient( left, #FFFFFF, #DAF0F6); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient( left, #FFFFFF, #DAF0F6); /* For Firefox 3.6 to 15 */
background: linear-gradient(left, #9DDBF2, #DAF0F6); /* Standard syntax (must be last) */
display: flex;
align-items: center;
justify-content: center;
}

.div_centro{
position: absolute;
font-size: 1.6vw;
color: white;
object-fit: cover;
width: 33.3vw;
height: 33.3vw;
overflow: hidden;
display:flex;
align-items: center;
justify-content: center;
border-radius: 5%;
/*
margin: 33.3vw;
margin-top: 10vh;
*/ 
}


.fig_centro{
margin: 0;
}

.img_centro{
height: 100%;
}

.txt_centro{
z-index: 5;
overflow: hidden;

}
.txt_centro p{
margin:0;
border-radius: 5%;
border: solid 0.5em rgba(0, 0, 0, 0.5);
padding: 5%;
}
.txt_centro div{
max-height: 80%;
margin: 10%;
overflow: hidden;
border-radius: 5%;
display: flex;
}

.background{
background-color: rgb(206, 165, 248, 0.5);
}