
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    button:hover{
        background-color: black;
    }
}


.App{
    background-color: aqua;
    padding: 0.5vw;
}

@import 'TweetList';