@charset "utf-8";

html{
    height: 100%;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
h1{
    margin: 0 2vw;
}